* {
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: flex;
    margin: 10px 20px;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
}

nav ul li:hover {
    background-color: lightgray;
    box-shadow: 5px 5px 10px rgb(205, 227, 172);
}